/*
 * Miscellaneous styles for Patternkit interfaces.
 */

.js-patternkit-loading__on {
  width: 30px;
  height: 30px;
  margin: 40px auto;
  animation: spin 1s linear infinite;
  border: 4px solid #ebebeb; /* Light gray */
  border-top: 4px solid #06c; /* Blue */
  border-radius: 50%;
}
/*
 * Implements spinning loader to display while
 * JSON Editor's schemas are being loaded.
 */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
 * Updates styles for primary button within off-canvas tray
 * to ensure the button displays properly and it's easy to interact with.
 */
#drupal-off-canvas .layout-builder-configure-block .button--primary {
  max-width: 300px;
  padding: 12px 0 !important;
}
