[data-theme="cygnet"] {
  margin-top: 18px;
  padding: 0 1em;
  color: #151515;
  font-family: RedHatText, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* Variable definition */
[data-theme="cygnet"] {
  --disabled-input-background-color: #ccc;
}

/* Form header styles. */
[data-theme="cygnet"] .je-header {
  margin: 0 0 16px 0;
  font-size: 24px;
}

/* Set largest font-size for top level titles. */
[data-theme="cygnet"] [data-schemapath="root"] > .je-header {
  font-size: 28px;
}

[data-theme="cygnet"] .je-header > label {
  position: relative;
  top: 4px;
  display: inline-block;
  margin-right: 16px;
  font-size: inherit;
}

[data-theme="cygnet"] .je-object__controls {
  display: block;
  margin-bottom: 8px;
}

/* Form labels. */
[data-theme="cygnet"] .je-cygnet-form-input-label {
  display: block;
  padding-bottom: 4px;
  font-weight: 700;
}

/* Reduce font weight for description tags. */
[data-theme="cygnet"] p.je-cygnet-form-input-label {
  font-weight: 300;
}

[data-theme="cygnet"] label.required::after {
  display: inline;
  padding-left: 4px;
  content: "*";
  color: #e00;
}

[data-theme="cygnet"] a {
  color: #06c;
}

[data-theme="cygnet"] .je-cygnet-indented-panel {
  margin-bottom: 16px;
  padding-top: 16px;
  border-radius: 3px;
}

[data-theme="cygnet"] p {
  margin-top: 0;
  margin-left: 20px;
}

[data-theme="cygnet"] input[type="text"],
[data-theme="cygnet"] input[type="url"],
[data-theme="cygnet"] select,
[data-theme="cygnet"] textarea {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 4px !important;
  margin-left: 0 !important;
  padding: 4px 8px !important;
  border: 1px solid #d2d2d2;
  border-bottom: 1px solid #6a6e73;
  background-color: #fff;
  font-family: RedHatText, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

[data-theme="cygnet"] .form-control input:disabled,
[data-theme="cygnet"] .form-control select:disabled,
[data-theme="cygnet"] .form-control textarea:disabled,
[data-theme="cygnet"] button:disabled {
  background-color: var(--disabled-input-background-color);
}

[data-theme="cygnet"] select {
  font-size: 16px !important;
  font-style: normal !important;
}

/* Duplicate upstream rules for increased specificity. */
[data-theme="cygnet"] .je-edit-json--textarea {
  display: block;
  height: 170px;
}

/* Gray background on second-level objects and arrays. */
[data-schemapath="root"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="object"] .je-cygnet-indented-panel,
[data-schemapath="root"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="array"] .je-cygnet-indented-panel {
  padding: 16px 16px 0 16px !important;
  border: 1px solid #d2d2d2 !important;
  border-radius: 3px;
  background-color: #f0f0f0;
}

/* White background on objects beneath the second-level objects and arrays. */
[data-schemapath="root"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="object"] .je-cygnet-indented-panel .je-cygnet-indented-panel,
[data-schemapath="root"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="array"] .je-cygnet-indented-panel .je-cygnet-indented-panel {
  background-color: #fff;
}

[data-schemapath="root"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="object"] > .je-cygnet-indented-panel .je-cygnet-indented-panel,
[data-schemapath="root"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="array"] > .je-cygnet-indented-panel .je-cygnet-indented-panel {
  padding: 16px 16px 0 16px !important;
  background-color: #fff;
}

/* Objects and arrays nested two layers beneath the second level have no padding or borders.  */
[data-schemapath="root"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="object"] > .je-cygnet-indented-panel .je-cygnet-indented-panel .je-cygnet-indented-panel,
[data-schemapath="root"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="array"] > .je-cygnet-indented-panel .je-cygnet-indented-panel .je-cygnet-indented-panel {
  padding: 0 !important;
  border: 0 !important;
}

[data-schemapath="root"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="array"] > .je-cygnet-indented-panel > div > .je-cygnet-indented-panel {
  background-color: transparent;
}

/* Indent objects and arrays on the second level. */
[data-schematype="object"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="object"],
[data-schematype="object"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="array"] {
  margin-left: 20px;
}

[data-schemapath="root"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="object"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="array"] .je-cygnet-indented-panel > .je-cygnet-indented-panel {
  margin-left: 0 !important;
  border: 0 !important;
}

/* Indent second-level rows. */
[data-theme="cygnet"] > [data-schemapath="root"] > .je-cygnet-indented-panel > div > div > .row {
  margin-left: 20px;
}

[data-theme="cygnet"] > [data-schemapath="root"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="object"] {
  margin-left: 0;
}

/* White background on second-level objects */
[data-schematype="object"] > .je-cygnet-indented-panel > div > div > .row > [data-schematype="object"] > .je-cygnet-indented-panel > [data-schematype="object"] > .je-cygnet-indented-panel > div > div > .row > div > .je-cygnet-indented-panel {
  margin-left: 20px !important;
  border: 1px solid #d2d2d2 !important;
  border-radius: 3px;
  background-color: #fff;
}

.je-cygnet-indented-panel .je-cygnet-indented-panel h3 {
  font-size: 20px;
}

/* Indent panels adjacent to clickable panes. */
.je-cygnet-indented-panel div div .row [data-schematype="object"] .patternkit-jsoneditor-clickable ~ .je-cygnet-indented-panel {
  margin-left: 20px;
}

.je-cygnet-indented-panel [data-schematype="array"] > .je-cygnet-indented-panel {
  position: relative;
  margin-bottom: 0;
}

/* Apply gray border to panels inside arrays. */
[data-schematype="array"] > .je-cygnet-indented-panel {
  border: 1px solid #d2d2d2 !important;
}

/* Remove gray border from panels inside arrays. */
[data-schematype="array"] > .je-cygnet-indented-panel [data-schematype="array"] > .je-cygnet-indented-panel {
  border: 0 !important;
}

/* Remove margin and padding from panels nested within child-editor. */
.je-cygnet-child-editor-holder > .je-cygnet-indented-panel {
  margin-bottom: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.je-cygnet-child-editor-holder > p {
  margin-left: 36px;
}

.je-cygnet-child-editor-holder > .je-cygnet-indented-panel > div > div > .row > [data-schematype="object"] > .je-cygnet-indented-panel {
  padding: 0 !important;
}

[data-schematype="array"] .je-cygnet-indented-panel {
  padding-top: 0;
  padding-bottom: 0;
}

[data-schematype="object"] > .je-cygnet-indented-panel [data-schematype="object"] > .je-cygnet-indented-panel [data-schematype="array"] > .je-cygnet-indented-panel [data-schematype="array"] > h3 + .je-cygnet-indented-panel {
  border-top: 0;
}

/* Apply borders to panels inside a nested array. */
[data-schematype="object"] > .je-cygnet-indented-panel [data-schematype="object"] > .je-cygnet-indented-panel [data-schematype="array"] > .je-cygnet-indented-panel [data-schematype="array"] > .je-cygnet-indented-panel > div > .je-cygnet-indented-panel > div > .je-cygnet-child-editor-holder > .je-cygnet-indented-panel {
  margin-bottom: 16px;
  margin-left: 36px !important;
  padding: 16px !important;
  border: 1px solid #d2d2d2 !important;
}

[data-schematype="object"] > .je-cygnet-indented-panel [data-schematype="object"] > .je-cygnet-indented-panel [data-schematype="array"] > .je-cygnet-indented-panel [data-schematype="array"] > .je-cygnet-indented-panel > div > .je-cygnet-indented-panel > div > .je-cygnet-child-editor-holder > .je-cygnet-indented-panel > div > div > .row {
  margin-left: 0;
}

/* Flexbox container query hack. */
/* https://heydonworks.com/article/the-flexbox-holy-albatross/ */
[data-theme="cygnet"] .row {
  --multiplier: calc(30rem - 100%);

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;
}

[data-theme="cygnet"] .row > div {
  flex-basis: calc(var(--multiplier) * 999);
  flex-grow: 1;
  min-width: 48%;
  max-width: 100%;
  margin-bottom: 8px;
}

[data-theme="cygnet"] .row > div:last-child {
  margin-bottom: 16px;
}

[data-theme="cygnet"] .row > * > span {
  margin-left: 0 !important;
}

[data-theme="cygnet"] .row > .col-md-3 {
  min-width: 23%;
}

[data-theme="cygnet"] .row > .col-md-4 {
  min-width: 31%;
}

/* Button styles. */
[data-theme="cygnet"] button,
[data-theme="cygnet"] button > span {
  cursor: pointer;
}

[data-theme="cygnet"] button {
  margin-right: 4px;
  padding: 6px 16px;
  color: #06c;
  border: 1px solid #06c;
  border-radius: 3px;
  background-color: #fff;
  font-family: RedHatDisplay, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

[data-theme="cygnet"] button:hover {
  color: #fff;
  background-color: #06c;
}

[data-theme="cygnet"] button[title="Collapse"],
[data-theme="cygnet"] button[title="Expand"] {
  padding: 0;
  border: 0;
  border-radius: 3px;
  background-color: transparent;
}

.je-cygnet-header-button-holder {
  margin-left: 20px;
  padding: 8px 0 0 0;
}

[data-theme="cygnet"] .json-editor-btn-add {
  margin-bottom: 16px;
  color: #fff;
  border: 1px solid #06c;
  background-color: #06c;
}

[data-theme="cygnet"] .json-editor-btn-subtract,
[data-theme="cygnet"] .json-editor-btn-delete {
  margin-bottom: 16px;
  margin-left: 16px;
  color: #e00;
  border: 1px solid #e00;
}

[data-theme="cygnet"] .json-editor-btn-subtract:hover,
[data-theme="cygnet"] .json-editor-btn-delete:hover {
  color: #fff;
  background-color: #e00;
}

[data-theme="cygnet"] .json-editor-btn-moveup,
[data-theme="cygnet"] .json-editor-btn-movedown {
  margin-bottom: 16px;
  margin-left: 16px;
}

[data-theme="cygnet"] .json-editor-btntype-toggle {
  margin: 0 10px 0 0;
}

/* Accordion styles. */
[data-theme="cygnet"] button[title="Collapse"]::before {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 7px;
  height: 7px;
  content: " ";
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid #151515;
  border-width: 0 1.75px 1.75px 0;
}

[data-theme="cygnet"] button[title="Expand"]::before {
  position: relative;
  display: inline-block;
  width: 7px;
  height: 7px;
  content: " ";
  cursor: pointer;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  border: solid #151515;
  border-width: 0 1.75px 1.75px 0;
}

[data-theme="cygnet"] button[title="Collapse"] > span,
[data-theme="cygnet"] button[title="Collapse"] > i,
[data-theme="cygnet"] button[title="Expand"] > span,
[data-theme="cygnet"] button[title="Expand"] > i {
  display: none;
}

/* Indent paragraphs inside root. */
[data-theme="cygnet"] [data-schemapath="root"] > p {
  margin-left: 20px;
}

[data-theme="cygnet"] [data-schemapath="root"] .form-control > p {
  margin-left: 0;
}

[data-theme="cygnet"] [data-schematype="object"] [data-schematype="object"] p {
  font-size: 14px;
}

[data-theme="cygnet"] [data-schematype="object"] [data-schematype="object"] p:last-child {
  margin-bottom: 0;
}

.je-cygnet-indented-panel > div:empty {
  margin-bottom: 16px;
}

/* Remove margins on embedded forms. */
[data-theme="cygnet"] > div > .je-cygnet-indented-panel div div .row,
[data-theme="cygnet"] > div > .je-cygnet-indented-panel div div .row > [data-schematype="object"],
[data-theme="cygnet"] > div > .je-cygnet-indented-panel div div .row > [data-schematype="array"] {
  margin-left: 0;
}

/* Vertical tab styling. */
[data-schemapath^="root.header.aside"] > .je-cygnet-tab {
  margin-left: 20px;
}

[data-schemapath^="root.header.aside"][class^="col-md"] > .je-cygnet-tab,
[data-theme="cygnet"] [data-schemapath^="root.header.aside"] .form-control {
  margin-left: 0;
}

[data-schemapath^="root.header.aside"] > .je-cygnet-tab > .content {
  margin-left: 165px !important;
}

.je-cygnet-indented-panel[data-schemapath^="root.header.aside"] {
  border: 1px solid #d2d2d2 !important;
}

.je-cygnet-indented-panel[data-schemapath^="root.header.aside"] > .je-cygnet-indented-panel > div > div > .row {
  margin-left: 0;
}

[data-schemapath^="root.header.aside"] > .je-cygnet-indented-panel > span:not(.je-cygnet-header-button-holder) > button:first-child,
[data-schemapath^="root.body.content"] > .je-cygnet-indented-panel > span:not(.je-cygnet-header-button-holder) > button:first-child {
  margin-left: 16px;
}

.je-cygnet-tabs {
  position: relative;
  left: 20px;
  display: flex;
  margin-top: 20px;
}
.je-cygnet-tabs__holder {
  width: 165px;
}
.je-cygnet-tabs__content {
  width: calc(100% - 185px);
}

.je-cygnet-tab {
  text-align: left !important;
  border: 0 !important;
  border-left: 1px solid #d2d2d2 !important;
  border-radius: 0 !important;
  font-size: 16px;
  font-weight: 300 !important;
}

.je-cygnet-tab,
.je-cygnet-tab > span {
  cursor: pointer !important;
}

.je-cygnet-tab--active {
  padding: 14px 16px 16px;
  border-left: 2px solid #e00 !important;
}

.je-cygnet-tab--inactive {
  padding: 16px;
}

[data-theme="cygnet"] .patternkit-jsoneditor-clickable {
  cursor: pointer;
}

[data-theme="cygnet"] .patternkit-jsoneditor-clickable label {
  cursor: inherit;
}

.patternkit-jsoneditor-clickable + div > .tabs {
  margin-left: 40px;
}
